@import "./libs/font.scss";
@import "./libs/animation.scss";

$primaire: #01161e;
$secondaire: #f3e8ee;
$background: $primaire;
$default-cursor: url("/images/Cursor.svg");
$forbidden-cursor: url("/images/Cursor-Forbidden.svg");

$gridWidth: calc(100vw / 14);
$gridHeight: calc(100vh / 9);

* {
  padding: 0;
  margin: 0;
  color: unset;
  text-decoration: unset;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  font-family: "Pixelify Sans", sans-serif;
  background: $primaire;
}

.desktop {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

canvas {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.info-font {
  font-family: "Pixelify Sans", sans-serif;
}

button {
  cursor: inherit !important;
}

// Intro
.intro-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: black, $alpha: 0.3);
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 30%;
  }

  .punchline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    width: 50%;
    text-align: center;
  }
}

// Cursor
.default-cursor {
  cursor: $default-cursor, default;
}

.forbidden-cursor {
  cursor: $forbidden-cursor, default;
}

// Desktop
.desktop {
  position: relative;
  animation: appear 0.5s ease-in;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    z-index: -1;
  }

  .info {
    position: absolute;
    opacity: 0.3;
    bottom: 30px;
    left: 50%;
    font-size: 1.5rem;
    transform: translateX(-50%);
    padding: 5px 10px;
    color: $secondaire;
    border-radius: 10px;
    animation: bounce 0.5s;
    animation-delay: 20s;
  }

  .desktop-display {
    width: 100vw;
    height: calc(100vh);
    padding-top: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  // Header
  .desktop-header {
    position: absolute;
    width: 100vw;
    height: 60px;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 996;
    color: $secondaire;

    .left {
      padding: 5px 20px;
    }

    .windows-active-type {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .header-window-active-type {
        position: relative;
        width: 60px;
        height: 60px;
        border: 1px solid $secondaire;

        &:hover {
          .windows-active-container {
            display: flex;
          }
        }

        .windows-active-container {
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          .window-active {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 5px;
            border: 1px solid rgba($color: $secondaire, $alpha: 0.4);
            position: relative;
            transition: border 0.3s;

            &:hover {
              border: 1px solid rgba($color: $secondaire, $alpha: 1);
            }

            &-snooze::after {
              content: "";
              width: 100%;
              height: 100%;
              background: black;
              opacity: 0.4;
              position: absolute;
              top: 0;
              left: 0;
              transition: opacity 0.3s;
            }

            &-snooze:hover::after {
              opacity: 0.2;
            }

            .window-active-image {
              width: 15px;
            }
          }
        }
      }

      .folder-active-window {
        background: url("../images/Folder-top.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
      }

      .text-active-window {
        background: url("../images/File-text-top.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
      }

      .header-window-active-type-counter {
        position: absolute;
        bottom: 2px;
        right: 50%;
        transform: translateX(50%);
        background: rgba($color: $secondaire, $alpha: 0.7);
        width: 5px;
        height: 5px;
        font-size: 10px;
        z-index: 999;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// Wallpaper
.wallpaper-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  pointer-events: none;
  user-select: none;
}

.wallpaper-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  color: $secondaire;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

// Grid Files Desktop
.column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  z-index: 1;
  user-select: none;
}

.grid {
  z-index: 2;
  width: 100%;
  height: 100%;
  color: $secondaire;
}

// File
.file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;
  text-align: center;

  &:hover {
    background: rgba($color: $secondaire, $alpha: 0.4);
    border-color: $secondaire;

    .file-image-container::before {
      top: -5px;
      left: -5px;
    }
  }

  .file-image-container {
    width: 45px;
    position: relative;
    user-select: none;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url("/images/File-text-bottom.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;
      transition-duration: 0.3s;
      transition-property: top, left;
    }

    .file-image {
      width: 100%;
    }
  }

  p {
    user-select: none;
    pointer-events: none;
  }
}

// Folder
.folder {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;
  text-align: center;

  &:hover {
    background: rgba($color: $secondaire, $alpha: 0.4);
    border-color: white;

    .folder-image-container::before {
      top: -3px;
    }

    .folder-image-container .under-image {
      scale: 0.5 !important;
    }
  }

  .folder-image-container {
    width: 55px;
    position: relative;
    user-select: none;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url("/images/Folder-bottom.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -4;
      transition-duration: 0.3s;
      transition-property: top, left;
    }

    .folder-image {
      width: 100%;
    }

    .under-image {
      position: absolute;
      top: -30px;
      left: -5px;
      width: 45px;
      height: 60px;
      transition-duration: 0.3s;
      transition-property: top, left, scale;
    }

    .text-image {
      background: url("/images/File-text-top.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .default-image {
      background: url("/images/File-empty-top.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .code-image {
      background: url("/images/File-code-top.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  p {
    user-select: none;
    pointer-events: none;
  }

  .help-message {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translate(50%, -50%);
    width: max-content;
    opacity: 0.3;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

// Window
.window {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  background: rgba($color: $primaire, $alpha: 0.7);
  backdrop-filter: blur(5px);
  z-index: 500;
  border-radius: 10px;
  border: 1px solid $primaire;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 999 !important;
    transform: unset !important;
  }

  p,
  svg {
    user-select: none;
  }

  .window-header {
    width: 100%;
    background: rgba($color: $primaire, $alpha: 0.5);
    border-bottom: 1px solid $primaire;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 40px;

    .window-header-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      button {
        width: 50px;
        height: 100%;
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .minimize-button {
        transition: background 0.2s;
        cursor: pointer;
        background: transparent;
        position: relative;

        &:hover {
          background: rgba($color: white, $alpha: 0.3);
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          width: 30%;
          height: 1px;
        }
      }

      .fullscreen-button {
        transition: background 0.2s;
        cursor: pointer;
        background: transparent;
        position: relative;

        &:hover {
          background: rgba($color: white, $alpha: 0.3);
        }

        svg {
          pointer-events: none;
        }
      }

      .close-button {
        transition: background 0.2s;
        cursor: pointer;
        background: transparent;
        position: relative;

        &:hover {
          background: red;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 30%;
          height: 1px;
          background: $secondaire;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(135deg);
          width: 30%;
          height: 1px;
          background: $secondaire;
        }
      }
    }
  }

  .window-content-container {
    width: 100%;
    height: 100%;
    padding: 10px;

    p {
      width: max-content;
    }

    .window-image-content {
      width: 100%;
      height: calc(100% - 40px);
      overflow-y: auto;
      display: flex;
      align-items: center;
      justify-content: flex-star;
      flex-direction: column;

      img {
        width: 100%;
      }
    }

    .window-content {
      width: 100%;
      height: calc(100% - 40px);
      display: grid;
      grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
      align-items: flex-start;
      color: $secondaire;
      padding: 10px;

      .return-file {
        width: calc(100vw / 14);
        height: calc(100vh / 9);
        color: $secondaire;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid transparent;

        &:hover {
          background: rgba($color: $secondaire, $alpha: 0.4);
          border-color: $secondaire;
        }
      }

      .file,
      .folder {
        width: calc(100vw / 14);
        height: calc(100vh / 9);
        color: $secondaire;
      }
    }
  }

  .right-resize {
    position: absolute;
    width: 15px;
    height: 93.5%;
    right: -15px;
    bottom: 0;
    cursor: w-resize;
  }

  .left-resize {
    position: absolute;
    width: 15px;
    height: 100%;
    left: -15px;
    bottom: 0;
    cursor: e-resize;
  }

  .top-resize {
    position: absolute;
    height: 15px;
    width: 100%;
    top: -15px;
    left: 0;
    cursor: s-resize;
  }

  .bottom-resize {
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: -15px;
    left: 0;
    cursor: n-resize;
  }
}

// Applications
.application {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;

  &:hover {
    background: rgba($color: $secondaire, $alpha: 0.4);
    border-color: $secondaire;

    .application-image-container::before {
      top: -5px;
      left: -5px;
    }
  }

  .application-image-container {
    width: 45px;
    position: relative;
    user-select: none;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url("/images/File-text-bottom.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;
      transition-duration: 0.3s;
      transition-property: top, left;
    }

    .application-image {
      width: 100%;
    }
  }

  p {
    user-select: none;
    pointer-events: none;
  }
}

// Console
.console-window {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  color: $secondaire;
  padding: 5px 10px;
  gap: 10px;

  .return-value {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    color: $secondaire;
    gap: 5px;
  }
  .command-prompt {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 10px;

    input {
      background: transparent;
      color: white;
      border: 0;
      outline: 0;
      font-size: 1rem;
    }
  }
}

// Tuto
.tuto-overlay {
  transition: opacity 0.3s;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($color: black, $alpha: 0.8);
  z-index: 998;
}

.folder-tuto {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0% 6%,
    0% 18.5%,
    8.4% 18.5%,
    8.4% 6%,
    0% 6%
  );
}

.header-tuto {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0% 0%,
    0% 6%,
    4.5% 6%,
    4.5% 0
  );
}

.active-tuto-square {
  width: 8.4%;
  height: 12.5%;
  border: 2px solid white;
  z-index: 999;
  position: absolute;
  top: 6%;
  left: 0;
  pointer-events: none;
}

.file-square {
  top: 18.5%;
}

.help-message-file,
.help-message-folder,
.help-message-folder,
.help-message-windows,
.help-message-header {
  transition: opacity 0.3s;
  z-index: 999;
  color: white;
  position: absolute;
  pointer-events: none;
  font-size: 1.3rem;
  width: 60%;
  opacity: 0.6;
}

.help-message-folder {
  animation: appear 0.2s forwards;
  top: 10.2%;
  left: 10%;
}

.help-message-header {
  top: 0.5%;
  left: 5%;
}

.next-tuto {
  position: absolute;
  z-index: 999;
  top: 20px;
  right: 200px;
  padding: 5px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    background: white;
    color: black;
  }
}

.end-button {
  top: 58%;
  right: unset;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pass-tuto {
  position: absolute;
  z-index: 999;
  top: 20px;
  right: 30px;
  padding: 5px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    background: white;
    color: black;
  }
}

.signalisation {
  position: absolute;
  top: 15px;
  transform: rotate(90deg);
  z-index: 999;
  width: 40px;
  height: 40px;
  color: white;
  animation: signalisation-animation 3s infinite ease-in-out;

  img {
    width: 100%;
  }
}
