@import "./libs/font.scss";

* {
  padding: 0;
  margin: 0;
  color: unset;
  text-decoration: unset;
  list-style-type: none;
}

html {
  font-family: "Space Grotesk", sans-serif;
  background: black;
}

.desktop {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

canvas {
  pointer-events: none;
}

// Desktop
.desktop {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    z-index: -1;
  }
}

// Wallpaper
.wallpaper-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  pointer-events: none;
  user-select: none;
}

.wallpaper-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  color: white;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

// Grid Files Desktop
.column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.grid {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  color: white;
}
