@import "./libs/font.scss";

* {
  padding: 0;
  margin: 0;
  color: unset;
  text-decoration: unset;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk", sans-serif;
  background: black;
}

.desktop {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

canvas {
  pointer-events: none;
}

// Desktop
.desktop {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    z-index: -1;
  }
}

// Wallpaper
.wallpaper-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  pointer-events: none;
  user-select: none;
}

.wallpaper-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px;
  color: white;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

// Grid Files Desktop
.column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  z-index: 1;
  user-select: none;
}

.grid {
  z-index: 2;
  width: 100%;
  height: 100%;
  color: white;
}

// File
.file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;

  &:hover {
    background: rgba($color: #ffffff, $alpha: 0.4);
    border-color: white;

    .file-image-container::before {
      top: -5px;
      left: -5px;
    }
  }

  .file-image-container {
    width: 45px;
    position: relative;
    user-select: none;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url("/images/File-text-bottom.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;
      transition-duration: 0.3s;
      transition-property: top, left;
    }

    .file-image {
      width: 100%;
    }
  }

  p {
    user-select: none;
    pointer-events: none;
  }
}

// Folder
.folder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;

  &:hover {
    background: rgba($color: #ffffff, $alpha: 0.4);
    border-color: white;

    .folder-image-container::before {
      top: -3px;
    }

    .folder-image-container .under-image {
      scale: 0.5 !important;
    }
  }

  .folder-image-container {
    width: 55px;
    position: relative;
    user-select: none;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url("/images/Folder-bottom.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -4;
      transition-duration: 0.3s;
      transition-property: top, left;
    }

    .folder-image {
      width: 100%;
    }

    .under-image {
      position: absolute;
      top: -30px;
      left: -5px;
      width: 45px;
      height: 60px;
      transition-duration: 0.3s;
      transition-property: top, left, scale;
    }

    .text-image {
      background: url("/images/File-text-top.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .default-image {
      background: url("/images/File-empty-top.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .code-image {
      background: url("/images/File-code-top.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  p {
    user-select: none;
    pointer-events: none;
  }
}

// Window
.window {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  background: #3c3836;
  z-index: 500;
  border-radius: 10px;
  transition-duration: .3s;
  transition-property: width, height;

  p, svg {
    user-select: none;
  }

  .window-header {
    width: 100%;
    background: rgba($color: black, $alpha: .5);
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 40px;

    .window-header-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      button {
        width: 50px;
        height: 100%;
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .minimize-button {
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); 
          width: 30%;
          height: 1px;
          background: white;
        }
      }

      .close-button {
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg); 
          width: 30%;
          height: 1px;
          background: white;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(135deg); 
          width: 30%;
          height: 1px;
          background: white;
        }
      }

    } 
  }
}